@model IEnumerable<AvansasProject2.MODEL.Models.Product>
@{
    ViewData["Title"] = "Anasayfa";
}
<style>
    .navbar-categories {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

        .navbar-categories li {
            margin-right: 15px; /* Kategori bağlantıları arasındaki boşluk */
        }

        /* Kategori bağlantıları */
        .navbar-categories a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            padding: 8px 15px;
            background-color: #f0f0f0;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .navbar-categories a:hover {
                background-color: #ddd;
            }
</style>



<div class="container">

    

   



    <div class="row">
       
            @await Component.InvokeAsync("CategoryList")
       
        
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            @item.Title
                        </div>
                        <img src="@item.Image" class="card-img-top" alt="..." style="height:200px">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-footer">
                            <label style="font-size:20px;color:crimson"><b>@item.Price.ToString("0.00") ₺</b></label>
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-outline-info" style="float:right">Detay</a>
                        </div>
                    </div>
                </div>
            }
        
       
    </div>

    

</div>
